<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <!-- register for new configuration section - OrderService -->
    <section name="orderService" type="MyWebSite.Applications.OrderService" />
  </configSections>

  <!-- use of the registered section - orderService-->
  <orderService available="true" pollTimeout="00:01:00">
    <location computer="OrderComputer" port="8010" endpoint="OrderService" />
  </orderService>
  
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
      providerName="System.Data.SqlClient" />
    <add name="NorthWind" connectionString="data source=(local);Integrated Security=SSPI;Initial Catalog=NorthWind;"
      providerName="System.Data.SqlClient" />
    <add name="Pubs" connectionString="Data Source=(local); Initial Catalog=pubs; Integrated Security=SSPI; Min Pool Size=10"
      providerName="System.Data.SqlClient" />
    <add name="Bank" connectionString="data source=(local);Integrated Security=SSPI;Initial Catalog=Bank;"
      providerName="System.Data.SqlClient" />
    <add name="NorthWindConnectionString" connectionString="Data Source=(local);Initial Catalog=NorthWind;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <expressionBuilders>
        <add expressionPrefix="RandomNumber" type="MyWebSite.DataBindings.RandomNumberExpressionBuilder"/>
        
      </expressionBuilders>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

		<!-- well, in IIS6 you can add the httpHandlers , but in Visual Studio 2013, thas has to migrate to system.web/httpModules  -->
    <!-- In IIS 6, you have to define the httpHandlers in system.web section -->
    <httpHandlers>
      <add verb="*" type="MyWebSite.Applications.SourceHandler" path="source.simple"/>
      <add verb="*" type="MyWebSite.Applications.ImageGuardHandler" path="*.gif"/>
      <add verb="*" type="MyWebSite.Applications.ImageGuardHandler" path="*.png"/>
      <add verb="GET" type="MyWebSite.GridViews.ImageFromDB" path="ImageFromDB.ashx" />
    </httpHandlers>

		<!-- NOTE: in IIS6, you can add the httpModules , but in Visual Studio 2013, this has to migrate to system.Modules -->
    <!-- the same integrated pipeline error will prevent the following config to take effect-->
	<httpModules>
		<add name="LogUserModule" type="MyWebSite.Applications.LogUserModule"/>
	</httpModules>

    <!-- configure session state -->
    <sessionState
      mode="InProc"
      stateConnectionString="tcpip:127.0.0.1:42424"
      stateNetworkTimeout="10"
      sqlConnectionString="data source=127.0.0.1;Integrated Security=SSPI"
      sqlCommandTimeout="30"
      allowCustomSqlDatabase="false"
      useHostingIdentity="true"
      cookieless="UseCookies"
      cookieName="ASP.NET_SessionId"
      regenerateExpiredSessionId="false"
      timeout="20"
      customProvider="" />
    
    <!--  Caching profiles -->
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="ProductItemCacheProfile" duration="60"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>

  <system.webServer>
	  <!-- for IIS 7, IIS Express the required place to put the Log Module is system.webServer.modules -->
    <!-- 
    <modules>
      <add name="LogUserModule" type="MyWebSite.Applications.LogUserModule"/>
    </modules>
    -->
    <!-- 
		<modules runAllManagedModulesForAllRequests="true">
			<add name="LogUserModule" type="MyWebSite.Applications.LogUserModule"/>
		</modules>
    -->
    
		<!-- IIS 6 might still use the old HttpHandlers -->
    <!-- 
    <handlers>
      <add verb="*" type="MyWebSite.Application.SourceHandler" path="source.simple"/>
      <add name="imageFromDBHandler" verb="GET" type="MyWebSite.GridViews.ImageFromDB" path="ImageFromDB.ashx" resourceType="Unspecified"/>
    </handlers>
    -->
		<!-- for IIS 7, IIS express the requried palce to put the handler is sstem.webServer.handlers-->
    <!-- 
		<handlers>
			<add type="MyWebSite.Applications.SourceHandler" path="source.simple" name="simpleSourceHandler" verb="GET,HEAD,POST"/>
			<add type="MyWebSite.Applications.ImageGuardHandler" path="*.gif" name="imageGuardGifHandler" verb="GET,HEAD,POST"/>
			<add type="MyWebSite.Applications.ImageGuardHandler" path="*.png" name="imageGuardPngHandler" verb="GET,HEAD,POST"/>
			<add type="MyWebSite.GridViews.ImageFromDB" path="ImageFromDB.ashx" name="imageFromDBHandler" verb="GET,HEAD,POST"/>
		</handlers>
    -->
    
  </system.webServer>
</configuration>
