<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <!-- register for new configuration section - OrderService -->
    <section name="orderService" type="MyWebSite.Applications.OrderService" />
  </configSections>

  <!-- use of the registered section - orderService-->
  <orderService available="true" pollTimeout="00:01:00">
    <location computer="OrderComputer" port="8010" endpoint="OrderService" />
  </orderService>
  
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <!-- In IIS 6, you have to define the httpHandlers in system.web section -->
    <httpHandlers>
      <add verb="*" type="MyWebSite.Applications.SourceHandler" path="source.simple"/>
      <add verb="*" type="MyWebSite.Applications.ImageGuardHandler" path="*.gif"/>
      <add verb="*" type="MyWebSite.Applications.ImageGuardHandler" path="*.png"/>
    </httpHandlers>

    <!-- the same integrated pipeline error will prevent the following config to take effect-->
	<httpModules>
		<add name="LogUserModule" type="MyWebSite.Applications.LogUserModule"/>
	</httpModules>
    
    <!-- configure session state -->
    <sessionState
      mode="InProc"
      stateConnectionString="tcpip:127.0.0.1:42424"
      stateNetworkTimeout="10"
      sqlConnectionString="data source=127.0.0.1;Integrated Security=SSPI"
      sqlCommandTimeout="30"
      allowCustomSqlDatabase="false"
      useHostingIdentity="true"
      cookieless="UseCookies"
      cookieName="ASP.NET_SessionId"
      regenerateExpiredSessionId="false"
      timeout="20"
      customProvider="" />
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>

  <!-- for IIS 7, IIS Express the required place to put the Log Module is system.webServer.modules -->
    <!-- 
    <modules>
      <add name="LogUserModule" type="MyWebSite.Applications.LogUserModule"/>
    </modules>
    -->

    <!-- IIS 6 might still use the old HttpHandlers -->
    <!-- 
    <handlers>
      <add verb="*" type="MyWebSite.Application.SourceHandler" path="source.simple"/>
    </handlers>
    -->
    
  </system.webServer>
</configuration>
